.nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 30px;
	padding: 20px;
	display: flex;
	z-index: 1;
	justify-content: space-between;
	align-items: center;
	/* Animation */
	transition-timing-function: ease-in;
	transition: all 0.5s;
}

/* Handles on scroll background transition */
.nav__black {
	background-color: #111;
}

.nav__logo {
	position: fixed;
	left: 20px;
	width: 80px;
	object-fit: contain;
}

.nav__avatar__container {
	display: flex;
	align-items: center;
	position: fixed;
	right: 20px;
}

.nav__avatar {
	width: 30px;
	object-fit: contain;
}

.nav__name {
	margin-right: 20px;
	color: white;
}
